  <div class="text-field">
    <%= form.label :email, class: "font-weight-bold"%>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password, class: "font-weight-bold" %>
    <%= form.password_field :password %>
  </div>

